/*=============================================
            _gallery.scss
================================================*/

.gallery {
  padding-top: 72px;
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}