/*=============================================
          _mixins.scss
================================================*/
@use './variables' as var;
@use './functions' as func;






@mixin absolute-center-top-position($top-value: 50%) {
  position: absolute;
  top: $top-value;
  left: 50%;
  transform: translate(-50%, -50%);
}






@mixin anchor-underline-hover-effect($clr: #fff) {
  position: relative;
  display: inline-block;
  padding-bottom: 0.25em;
  text-decoration: none;
  color: $clr;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $clr;
    transition: width 0.25s ease-in-out;
  }

  &:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vertical {
  display: flex;
  align-items: center;
}

@mixin flex-center-horizontal {
  display: flex;
  justify-content: center;
}


@mixin text-styles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
}

@mixin transition-basic($param ...) {
  transition: $param;
}