/*=============================================
          _variables.scss
================================================*/

// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #ffb900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #ece6e6;
$color-white-1: #f7f7f7;
$color-white-2: #eee;
$color--off-white: #fafaf9;
$color-pure-white: #ffffff;

$color-black: #20212d;
$color-off-black: #393b3d;
$color-pure-black: #000000;

$color-light-gray: #e2e2e4;
$color-med-gray: #a9a9a9;
$color-dark-gray: #626262;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// fonts